@import './base.css';
@import "@flaticon/flaticon-uicons/css/all/all";

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
  }
}
