@import './base.scss';
@import "@flaticon/flaticon-uicons/css/all/all";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: All-ProSans, Helvetica, Arial, sans-serif;
  color: var(--ff-c-dark-grey);
  background-color: var(--ff-c-off-white);
  font-size: 14px;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
  text-align: center;
}

@media (min-width: 1024px) {
  #app {
    width: 100%;
  }
}
